.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
inst/doc
scratch.r
Sim/Local_Testing/**/*.Rdata
chpc/logs/**
inst/ClinTall/*.rds
inst/ClinTall/*.RData
inst/ClinTall/timing/
analyses/**/*.RData
analyses/**/*.rds
